@{
    ViewData["Title"] = "Logged Out";
}

<div class="text-center">
    <h2>You have been signed out.</h2>
    <p>
        <a href="/Account/SignIn" class="btn btn-primary">Sign In Again</a>
    </p>
</div>